.broker-info{
  text-align: center;
  background-color: black;
  position: absolute;
  vertical-align: middle;
  top: 60%;
  width: 100%;
  height: 318px;
}

.chose-broker-carousel div.carousel-item img[class="broker"]{
  height:170px;
  width:500px;
}

.chose-broker-carousel [class="carousel slide"]{
  position: absolute;
  top: 26%;
  width: 100%;
}
.chose-broker-carousel .carousel-item{
  text-align: center;
}

.before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.broker-info-text{
  font-size: 20pt;
  opacity: 1;
  color: white;
  display: inline-block;
  vertical-align: middle;
}

.chose-broker-carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%24fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.chose-broker-carousel .carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%24fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
