.group{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 300px;
    width: 90%;
    overflow-y: scroll;
    border: groove;
}

.group-title{
    position: absolute;
    left: 5%;
}

.group-submit{
    position: absolute;
    left:5%;
    top: 75%;
}