.message{
    left: 20%;
    width: 60%;
}

.block{
    position: absolute;
    top: 25%;
    height: 300px;
    overflow-y: scroll;
    border: groove;
}

.header{
    position: absolute;
    top: 10%;
    border: groove;
}

.input{
    position: absolute;
    border: groove;
    top: 84%;
}

.back{
    position: absolute;
    left: 42%;
}