.title{
  background:  white;
  border-style: groove;
  height: 80px;
  padding: 10px 10px;
}

.middle{
  position: absolute;
  left: 40%;
  padding: 10px 10px;
}

.chose-broker-title{
  background:  black;
}