
#menu{
    position: absolute; left: 0; top: 79px; width: 15%; height: 100%;
    border-style: groove;
    background-color: #bbbbbb;
}

#workPanel {
    position: absolute; right: 0; top: 120px; width: 85%; height: 500px;
}

li.nav-item, .btn-group{
    margin-top: 10px;
}

.mr-2{
    position: absolute;
    left: 100px;
    top: 10px;
}

.table{
    position: absolute;
    left: 10px;
    top: 20px;
    width: 1100px;
    height: 90%;
}

.pagination{
    position: absolute;
    top: 100%;
    left: 40%;
}